<header class="header">
    <div class="header__upper">
        <div class="header__oficial">
            <h1 class="header__title">
                <span class="header__subtitle">Web oficial</span> Hotel José Antonio en Madre de Dios, Madre de Dios Puerto Maldonado.
            </h1>
        </div>
        <ul class="header__options">
            <li class="header__option-item"><a class="header__option-link"><i class="fas fa-wifi"></i></a> </li>
            <li class="header__option-item">
                <a href="#" class="header__option-link"><i class="far fa-user"></i></a>
            </li>
            <li class="header__option-item">
                <a href="#" class="header__option-link header__option-link--sub"><span>ES</span> <i class="fas fa-sort-down"></i></a>
                <ul class="header__suboptions">
                    <li class="header__suboptions-item"><a class="header__suboptions-link" href="#">Español</a></li>
                    <li class="header__suboptions-item"><a class="header__suboptions-link" href="#">Ingles</a></li>
                </ul>
            </li>
        </ul>
        <a href="#" class="header__reservation">
            <i class="fas fa-concierge-bell"></i>
            <span>Mi Reserva</span>
        </a>
    </div>
    <div class="header__lower">
        <a href="#" class="header__logo">
            <img src="../../../assets/jose-antonio-hoteles-logo-header.png" alt="Hotel">
        </a>
        <div class="header__menu">
            <a class="header__menu-link" href="">Inicio</a>
            <a class="header__menu-link" href="">Nuestras habitaciones</a>
            <a class="header__menu-link" href="">Promociones</a>
            <a href="" class="header__menu-link">Eventos</a>
            <a class="header__menu-link" href="">Contacto</a>
        </div>
    </div>
</header>
<app-slider></app-slider>
<!--<app-banner></app-banner>-->