<div class="hotels-information-container">
    <div class="hotels-information">
        <div class="hotel-img">
            <img src="https://www.hotelesjoseantonio.com/cache/bd/e6/bde6e45b6a3911ff9d017abc275f53b3.jpg" alt="">
        </div>

        <div class="hotel-information">
            <div class="calification">
                <div>
                    <h5>9.0</h5>
                    <p>Valoracion del hotel</p>
                </div>
            </div>

            <div class="description">
                <h2>Hotel José Antonio Lima Miraflores, Lima</h2>
                <p>Un hotel en una de las zonas más animadas de Lima. El Hotel José Antonio Lima es un hotel en Miraflores que se sitúa muy cerca de las principales calles comerciales del distrito.</p>
                <a>Ver mas</a>
            </div>
        </div>
    </div>
    <div class="hotels-information">
        <div class="hotel-img">
            <img src="https://www.bodhitree.co.th/media/imagegallery/CS-001-MERCURE-MALDIVES-KOODDOO-1-gallery-img-2018-03-07-08-17-50.jpg" alt="">
        </div>

        <div class="hotel-information">
            <div class="calification">
                <div>
                    <h5>8.5</h5>
                    <p>Valoracion del hotel</p>
                </div>
            </div>

            <div class="description">
                <h2>Hotel José Antonio Lima Miraflores, Lima</h2>
                <p>Un hotel en una de las zonas más animadas de Lima. El Hotel José Antonio Lima es un hotel en Miraflores que se sitúa muy cerca de las principales calles comerciales del distrito.</p>
                <a>Ver mas</a>
            </div>
        </div>
    </div>
</div>