<div class="promotions">
    <div class="promotions__inner">
        <div class="promotions__inner-container">
            <h2 class="promotions__title">
                ¡Precios exclusivos de la web oficial!
            </h2>
            <h3 class="promotions__subtitle">Hoteles José Antonio</h3>
            <p class="promotions__paragraph">Disfrute de los mejores <span>ofertas de la cadena Hoteles José Antonio</span> en Cusco, Lima y Puno. Seleccione las fechas de su estadía y elija entre todas las tarifas especiales, descuentos exclusivos, planes… que hemos preparado especialmente
                para que pueda reservar al mejor precio online y con las mejores condiciones. Viva experiencias únicas en las ciudades más importantes de Perú. Haga su reserva al mejor precio en la <span>web oficial de Hoteles José Antonio.</span></p>
        </div>
    </div>
    <div>
        <app-list-options></app-list-options>
        <app-list-options></app-list-options>
    </div>
    <div class="promotions__offers">
        <app-offer></app-offer>
        <app-offer></app-offer>
        <app-offer></app-offer>
    </div>
</div>