<div class="offer">
    <div class="offer__container-img">
        <img src="https://www.hotelesjoseantonio.com/cache/e1/69/e169f17049715b33ed6d6156ac2d5d96.jpg" class="offer__image" />
    </div>
    <div class="offer__description">
        <p class="offer__title">Hotel José Antonio Executive</p>
        <p class="offer__subtitle">Más de dos noches 50% off</p>
        <p class="offer__paragraph">
            Si te hospedas dos, tres o cuatro noches, recibirás una noche de alojamiento con el 50% de descuento sobre nuestra mejor tarifa disponible. Aprovecha este súper descuento en cualquiera de nuestros hoteles Jose Antonio.
        </p>
        <a class="offer__link" href="#">VER MAS <i class="fas fa-arrow-right"></i></a>
        <button class="offer__btn">Reservar ahora</button>
    </div>
</div>