<div class="hotel">
    <h2 class="hotel__title">Hoteles José Antonio</h2>
    <h3 class="hotel__subtitle">Reserva nuestros habitaciones de lujo a un buen precio</h3>
    <p class="hotel__paragraph">Disfrute de los mejores <strong> ofertas de la cadena Hoteles José Antonio </strong> en Cusco, Miraflores Lima y Puno. Seleccione las fechas de su estadía y elija entre todas las tarifas especiales, descuentos exclusivos, planes… que hemos preparado
        especialmente para que pueda reservar al mejor precio online y con las mejores condiciones. Viva experiencias únicas en las ciudades más importantes de Perú. Haga su reserva al mejor precio en la <strong>web
      oficial de Hoteles José Antonio.</strong></p>
</div>

<div>
    <app-list-options></app-list-options>
</div>

<app-bulletin></app-bulletin>

<app-bulletin></app-bulletin>

<app-bulletin></app-bulletin>

<app-bulletin></app-bulletin>