$color-back-1: #404e67;
$color-white-1: #fff;
$color-orange-1: #fd7a6b;
$color-gray-1: #999;
$color-gray-2: #dcdcdc;

.sidebar {
  background-color: $color-back-1;
  
  width: 24rem;
  max-height: 100vh;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  @media only screen and (max-width: 56.25em) {
    position: relative;
    width: 100%;
    height: 5.6rem;
  }
  
  &__header {
    padding: 1.5rem 1.8rem;
    display: flex;
    height: 5.6rem;
    box-shadow: 0 0 11px rgba(0,0,0,.13);
    align-items: center;
    justify-content: space-between;

    & > * {
      color: $color-white-1;
      text-decoration: none;
      cursor: pointer;
    }
  }
  
  &__logo {
    font-size: 2rem;

    span {
      color: $color-orange-1;
    }
  }
  
  &__icon {
    font-size: 1.6rem;
  }

  &__content {
    z-index: 100;
    @media only screen and (max-width: 56.25em) {
      position: fixed;
      top: 11.2rem;
      left: 0;
      width: 24rem;
      background-color: $color-back-1;
      height: 100vh;
    }
  }

  &__title {
    padding: 2.5rem 1.8rem .8rem;
    font-size: 1.4rem;
    color: $color-gray-1;
    margin-bottom: 1.5rem;
  }

  &__menu {
    list-style: none;
  }

  &__item {
    border-left: .3rem solid transparent;
  }

  &__link {
    border-radius: .2rem;
    overflow: hidden;
    color: $color-gray-2;
    padding: 1.3rem 1.8rem 1.3rem 1.5rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    text-decoration: none;
    transition: color .3s;

    span i {
      margin-right: 1rem; 
      width: 2rem;
    }
    
  }

  &__link:hover {
    color: $color-white-1;
  }

  &__submenu {
    list-style: none;
  }

  &__subitem {
  }

  &__sublink {
    color: $color-gray-2;
    text-decoration: none;
    padding: 1.3rem 1.8rem 1.3rem 1.5rem;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500 !important;
    transition: all .3s;
    
    i {
      width: 1.5rem;
      margin: 0 .5rem 0 1rem;
    } 
  }

  &__sublink:hover {
    color: $color-orange-1;
  }

  &__back {
    position: fixed;
    top: 11.2rem;
    left: 0;
    background-color: rgba(0, 0, 0, .3);
    transition: opacity .3s;
    height: 100vh;
    width: 100%;
    z-index: 99;
    display: none;

    @media only screen and (max-width: 56.25em) {
      display: block;
      opacity: 0;
      visibility: hidden;
    }
  }
}

.active {
  color: $color-white-1;
  font-weight: 700;
  border-left: .3rem solid $color-orange-1;
}

.sidebar.close {
  height: 5.6rem;
  overflow: hidden;
}

.sidebar.close .sidebar__content {
  visibility: hidden;
}

.sidebar.close .sidebar__header {
  box-shadow: none;
}

.sidebar .sidebar__back.close {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
}