<div class="sidebar">
  <div class="sidebar__header">
    <a href="#" class="sidebar__logo"><span>Ad</span>mi<span>ni</span>ty</a>
    <a href="#" class="sidebar__icon">
      <!----><i class="fas fa-toggle-on"></i>
      <!--<i class="fas fa-toggle-off"></i>-->
    </a>
  </div>
  <div class="sidebar__content">
    <div class="sidebar__title">
      Navegacion
    </div>
    <ul class="sidebar__menu">
      <li class="sidebar__item active">
        <a class="sidebar__link" href=""><span><i class="fas fa-home"></i>Inicio</span><i class="fas fa-angle-right"></i></a>
      </li>
      <li class="sidebar__item">
        <a class="sidebar__link" href="#"><span><i class="fas fa-bars"></i>Restaurantes</span></a>
      </li>
      <li class="sidebar__item active">
        <a class="sidebar__link" href="#">
          <span><i class="fas fa-glass-whiskey"></i>Habitaciones</span><i class="fas fa-angle-right"></i>
        </a>
        <ul class="sidebar__submenu">
          <li class="sidebar__subitem"><a class="sidebar__sublink" href="#"><i class="fas fa-angle-right"></i>Matrinmonial</a></li>
          <li class="sidebar__subitem"><a class="sidebar__sublink" href="#"><i class="fas fa-angle-right"></i>Individual</a></li>
          <li class="sidebar__subitem"><a class="sidebar__sublink" href="#"><i class="fas fa-angle-right"></i>Doble</a></li>
          <li class="sidebar__subitem"><a class="sidebar__sublink" href="#"><i class="fas fa-angle-right"></i>Extra</a></li>
        </ul>
      </li>
      <li class="sidebar__item">
        <a class="sidebar__link" href="#"><span><i class="fas fa-align-left"></i>Reservas</span></a>
      </li>
      <li class="sidebar__item">
        <a class="sidebar__link" href="#"><span><i class="fas fa-glass-martini"></i>Hoteles</span></a>
      </li>
      <li class="sidebar__item">
        <a class="sidebar__link" href="#"><span><i class="fas fa-glass-cheers"></i>Eventos</span></a>
      </li>
    </ul>
  </div>
</div>