<footer>
  <div>
      <p>Buenas razones para reservar con nosotros</p>
  </div>
  <div class="mini-slider">
      <div class="slider-text">
          <p>Buenas razones para reservar con nosotros</p>
      </div>
      <div class="slider-buttons">
          <a><span class="fas fa-arrow-left"></span></a>
          <a><span class="fas fa-arrow-right"></span></a>
      </div>
  </div>
  <div class="logo">
      <img src="https://www.hotelesjoseantonio.com/uploads/logoshotel/footer/jose-antonio-hoteles-logo-footer.png"
          alt="logoshotel">
  </div>
  <div class="links">
      <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">.</a></li>
          <li><a href="#">Mapa del sitio</a></li>
          <li><a href="#">.</a></li>
          <li><a href="#">Politica de privacidad</a></li>
          <li><a href="#">.</a></li>
          <li><a href="#">Politica de cookies</a></li>
          <li><a href="#">.</a></li>
          <li><a href="#">Facturacion</a></li>
          <li><a href="#">.</a></li>
          <li><a href="#">Contacto</a></li>
      </ul>
  </div>
  <div class="language">
      <ul>
          <li><a>Español</a></li>
          <li>|</li>
          <li><a>Ingles</a></li>
      </ul>
  </div>
</footer>